<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>demo-reference-1</title>

    <script type="module">
        import { DemoReference } from '../../../demo-components/dist/demo-components.es.js';
    </script>
    <link rel="stylesheet" href="../devices.css">
    <style>
        body {
            background-color: #0d1117;
            padding: 50px;
        }
        h2 {
            color: white;
        }
        demo-reference {
            max-width: 1200px;
            margin: 0 auto;
            font-size: 14px;
            font-weight: 450;
            font-family: sans-serif;

            color: #9198a1;
            --a-color-select-x: white;
        }
    </style>
</head>
<body>

    <h2>configure via .json file</h2>
    <demo-reference config-name="reference"></demo-reference>
    <hr>

</body>
</html>