<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>demo-signboard-1</title>

    <script type="module">
        import { DemoGallery } from '../../../demo-components/dist/demo-components.es.js';
    </script>
    <link rel="stylesheet" href="../devices.css">
</head>
<body>

    <h2>default, configure via .json file</h2>
    <demo-gallery 
        config-name="gallery"
        w="160px"
        h="80px"
        gap="20px"
    ></demo-gallery>
    <hr>

    <h2>playing</h2>
    <demo-gallery 
        config-name="gallery"
        w="160px"
        h="180px"
        gap="20px"
        playing
    ></demo-gallery>
    <hr>

</body>
</html>