<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>demo-signboard-1</title>

    <script type="module">
        import { DemoLayout } from '../../../demo-components/dist/demo-components.es.js';
    </script>
    <link rel="stylesheet" href="../devices.css">
    <style>
        demo-layout { height: 200px; width: 200px; }
        div[slot=head] { background-color: #00d2d3; height: 100%; width: 100%; }
        div[slot=body] { background-color: #7e80c1; height: 100%; width: 100%; }
    </style>
</head>
<body>

    <h2>default</h2>
    <demo-layout>
        <div slot="head"></div>
        <div slot="body"></div>
    </demo-layout>
    <hr>

    <h2>weight</h2>
    <demo-layout weight-head="1" weight-body="2">
        <div slot="head"></div>
        <div slot="body"></div>
    </demo-layout>
    <hr>

</body>
</html>