<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo-signboard-1</title>

    <script type="module">
        import { DemoGallery } from '../../../demo-components/dist/demo-components.es.js';
    </script>
    <style>
    </style>
</head>
<body>

    <h2>default, configure via .json file</h2>
    <demo-gallery 
        config-name="gallery"
        w="200px"
        h="100px"
        gap="20px"
    ></demo-gallery>
    <hr>

    <h2>playing</h2>
    <demo-gallery 
        config-name="gallery"
        w="200px"
        h="100px"
        gap="20px"
        playing
    ></demo-gallery>
    <hr>

</body>
</html>