table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: sans-serif;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ccc;
}

th, tr > td:first-child {
    text-align: center;
}

thead {
    background-color: #414141;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}